
@{
    ViewBag.Title = "QueryRicePriceData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">稻米市價</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>品種</th>
                        <th>單價</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>蓬萊濕穀</td>
                        <td>10.3</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                    <tr>
                        <td>秈稻濕穀</td>
                        <td>10.3</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                    <tr>
                        <td>長糯濕穀</td>
                        <td>10.3</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                    <tr>
                        <td>圓糯濕穀</td>
                        <td>10.3</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>