
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                入穀資料單筆編輯
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">日期</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">磅單編號</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">農民姓名</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">總重</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">空車重</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">麻袋重</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">實重</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">折台斤</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">品項</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">水份</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">過磅人</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">品檢員</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="inputFirstname">單價</label>
                                    <input type="text" class="form-control" id="inputFirstname">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputLastname">備註</label>
                                    <input type="text" class="form-control" id="inputLastname">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-facebook">確認變更</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->