
@{
    ViewBag.Title = "QueryGranaryInputData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">入穀資料</h6>
        <button type="button" class="btn btn-success">匯出</button>
        <button type="button" class="btn btn-facebook">列印</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>磅單編號</th>
                        <th>農民姓名</th>
                        <th>總重</th>
                        <th>空車重</th>
                        <th>麻袋重</th>
                        <th>實重</th>
                        <th>折台斤</th>
                        <th>品項</th>
                        <th>水份</th>
                        <th>過磅人</th>
                        <th>品檢員</th>
                        <th>單價</th>
                        <th>備註</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>日期</td>
                        <td>磅單編號</td>
                        <td>農民姓名</td>
                        <td>總重</td>
                        <td>空車重</td>
                        <td>麻袋重</td>
                        <td>實重</td>
                        <td>折台斤</td>
                        <td>品項</td>
                        <td>水份</td>
                        <td>過磅人</td>
                        <td>品檢員</td>
                        <td>單價</td>
                        <td>備註</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                    <tr>
                        <td>日期</td>
                        <td>磅單編號</td>
                        <td>農民姓名</td>
                        <td>總重</td>
                        <td>空車重</td>
                        <td>麻袋重</td>
                        <td>實重</td>
                        <td>折台斤</td>
                        <td>品項</td>
                        <td>水份</td>
                        <td>過磅人</td>
                        <td>品檢員</td>
                        <td>單價</td>
                        <td>備註</td>
                        <td>
                            @Html.ActionLink("編輯", "Edit")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}