
@{
    ViewBag.Title = "使用者資料編輯";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                使用者資料編輯
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>帳號</label>
                                <input class="form-control" placeholder="Enter account">
                            </div>
                            <div class="form-group">
                                <label>信箱</label>
                                <input class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label>外場</label>
                                <select class="form-control">
                                    <option>萬和</option>
                                    <option>二林</option>
                                    <option>田尾</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-facebook">確認修改</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->